<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="allure-results" value="C:\Users\1034557\source\sts\retail-catman-test-automation\STSWebAutomation\allure-results"/>
		<add key="open-report" value="true"/>
		<add key="send-mail" value="true"/>
		<add key="mailId" value="ixbuild@npd.blueyonder.us"/>
		<add key="pwd" value="57b65a6b71e96955a4ec01c7062d4b30-a0cfb957-fa5e0ed5"/>
		<add key="host" value="smtp.mailgun.org"/>
		<add key="recipients" value="ganesh.maddula@blueyonder.com"/>
	</appSettings>
</configuration>