<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="allure-results" value="."/>
		<add key="open-report" value="true"/>
		<add key="send-mail" value="false"/>
		<add key="mailId" value=""/>
		<add key="pwd" value=""/>
		<add key="host" value=""/>
		<add key="recipients" value=""/>
	</appSettings>
</configuration>
